.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #181818;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textHeader {
  font-weight: 400;
  margin: 0;
}

.mailCard {
  display: flex;
  flex-direction: column;
}

.nameCard {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 8px;
  background: rgba(98, 98, 98, 0.25);
  padding: 5px;
  height: 5vh;
  width: 10vw;

  font-size: small;
  font-weight: 400;

  cursor: pointer;
}

.closeButton {
  height: 30px;
  border-radius: 5px;
  background: rgba(98, 98, 98, 0.25);

  font-size: medium;
  font-weight: 600;
  text-align: center;

  cursor: pointer;
}

.textName {
  font-size: larger;
  font-weight: 400;
}

.textContent {
  font-size: small;
  font-weight: 300;
  margin: 0;
}

.avatar {
  height: 30px;
  width: 30px;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  gap: 10px;
}

* {
  outline: 1px solid red;
}
