.container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #282828;
}
.rightSide {
  padding-right: 20px;
  display: flex;
  gap: 2vw;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}

button {
  border-radius: 8px;
  background: rgba(98, 98, 98, 0.25);
  padding: 5px;

  font-size: medium;
  font-weight: 500;
}

i {
  transform: scale(1.5);
}

p {
  font-weight: 400;
}
