.container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #282828;
}
.rightSide {
  padding-right: 20px;
  display: flex;
  gap: 2vw;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}

.button {
  border-radius: 8px;
  background: rgba(98, 98, 98, 0.25);
  padding: 5px;

  font-size: medium;
  font-weight: 500;

  cursor: pointer;
}

.icon {
  transform: scale(1.25);
  cursor: pointer;
}

.p {
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.profileMenuContainer {
  position: absolute;
  right: 0px;
}

.mailMenuContainer {
  position: absolute;
  right: 20px;
}

.notificationDot {
  width: 10px;
  height: 10px;
  background-color: #ff4d4d;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 13px;
  right: 60px;
  z-index: 10;
}
