.container {
  width: 500px;
  background: #3f3f3f;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

#textNama {
  margin: 0;
  font-weight: 500;
  font-size: x-large;
}

#textStatus {
  margin: 0;
  font-size: larger;
  font-weight: 300;
}

.link {
  text-decoration: none;
}
