.container {
  width: 500px;
  background: #3f3f3f;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

.nameContainer {
  display: flex;
  gap: 7.5px;
}

.nameCard {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.milestoneList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.milestoneContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 3px;
}

.textNama {
  margin: 0;
  font-weight: 500;
  font-size: x-large;
}

.pecahan {
  font-weight: 200;
  font-size: medium;
  margin-top: 10px;
}

.textMilestone {
  margin: 0;
  font-size: large;
  font-weight: 300;
}

.circleGreen {
  margin: 0;
  width: 10px;
  height: 10px;

  border-radius: 21px;
  border: 2px solid #fff;
  background: #aeff70;
}

.circleRed {
  margin: 0;
  width: 10px;
  height: 10px;

  border-radius: 21px;
  border: 2px solid #fff;
  background: #ff7070;
}
.squareGreen {
  margin: 0;
  width: 8px;
  height: 8px;

  border: 1.5px solid #fff;
  background: #aeff70;
}

.squareRed {
  margin: 0;
  width: 8px;
  height: 8px;

  border: 1.5px solid #fff;
  background: transparent;
}

.pointer {
  cursor: pointer;
}
