.container {
  width: 500px;
  background: #3f3f3f;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

.nameContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.milestoneList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.milestoneContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 3px;
}

#textNama {
  margin: 0;
  font-weight: 500;
  font-size: x-large;
}

#pecahan {
  font-weight: 200;
  font-size: medium;
  margin-top: 10px;
}

#textMilestone {
  margin: 0;
  font-size: large;
  font-weight: 300;
}

#circle {
  width: 10px;
  height: 10px;

  border-radius: 21px;
  border: 2px solid #fff;
  background: #aeff70;
}

#square {
  width: 4px;
  height: 4px;

  border: 1px solid #fff;
  background: #aeff70;
}
