.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.formContainer {
  padding: 25px;
  border-radius: 5px;
  margin-top: 5vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: #282828;
  gap: 5vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

#textHeader {
  margin: 0;
}

.userSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#backButton {
  background-color: rgba(0, 0, 0, 0.25);
  width: 8vw;
  cursor: pointer;

  font-weight: 500;
  font-size: large;
}

.button {
  background-color: rgba(0, 0, 0, 0.25);
  width: 16vw;
  height: 6vh;
  cursor: pointer;

  font-weight: 500;
  font-size: larger;
}
