.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.formContainer {
  padding: 25px;
  border-radius: 5px;
  margin-top: 5vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: #282828;
  gap: 5vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

#textHeader {
  margin: 0;
}

.followerSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.followerCard {
  display: flex;
  align-items: center;
  background-color: #2f2f2f;
  justify-content: space-between;

  padding-left: 10px;
  padding-right: 10px;
}

.credentials {
  display: flex;
  align-items: center;
  gap: 10px;
}

#avatar {
  width: 40px;
  height: 40px;
}

.link {
  text-decoration: none;
  display: inline;
}

#backButton {
  background-color: rgba(0, 0, 0, 0.25);
  width: 8vw;
  cursor: pointer;

  font-weight: 500;
  font-size: large;
}

#followButton {
  background-color: rgba(0, 0, 0, 0.25);
  width: 6vw;
  cursor: pointer;

  font-weight: 300;
  font-size: medium;
}

.button {
  background-color: rgba(0, 0, 0, 0.25);
  width: 16vw;
  height: 6vh;
  cursor: pointer;

  font-weight: 500;
  font-size: larger;
}
