.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.formContainer {
  padding: 25px;
  border-radius: 5px;
  margin-top: 5vh;
  width: 40vw;
  height: 77.75vh;
  display: flex;
  flex-direction: column;
  background-color: #282828;
  gap: 5vh;
}

#textHeader {
  margin: 0;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  background-color: #414141;
  border: transparent;
  padding: 9px;
  border-radius: 5px;
  font-size: larger;
  font-weight: 300;
}

#button {
  background-color: rgba(0, 0, 0, 0.25);
  width: 16vw;
  height: 6vh;
  cursor: pointer;

  font-weight: 500;
  font-size: larger;
}
