#avatar {
  width: 50px;
}

.container {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 10px;

  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;

  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 60px;
}

.newProjectContainer {
  display: flex;
  margin-left: 720px;
  margin-bottom: 30px;
}

#button {
  border-radius: 3px;
  background: rgba(98, 98, 98, 0.25);
  padding: 5px;

  font-size: medium;
  font-weight: 400;

  cursor: pointer;
}

.projectList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

#avatar {
  height: 65px;
  width: 65px;
}

#textName {
  margin: 0;
  font-size: x-large;
}

#textProject {
  font-weight: 100;
  font-size: large;
  margin: 0;
}
