#avatar {
  width: 100px;
}

.container {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 10px;

  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;

  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.userCard {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 60px;
  justify-content: space-between;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
}

.projectTitle {
  display: flex;
  margin-left: 60px;
  gap: 20px;
  align-items: center;
}

#textProject {
  margin: 0;
  font-weight: normal;
}

#input {
  margin: 0;
  background-color: #181818;
  border: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

.newProjectContainer {
  display: flex;
  margin-right: 60px;
}

#button {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;

  font-size: medium;
  font-weight: 400;

  cursor: pointer;
}
.projectList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

#avatar {
  height: 65px;
  width: 65px;
}

#textName {
  margin: 0;
  font-size: x-large;
}

.followerContainer {
  display: flex;
  gap: 5px;
}

#textFollower {
  font-weight: 200;
  font-size: large;
  margin: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}
