.container {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 10px;

  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;

  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

#textName {
  margin: 0;
  font-size: x-large;
}

#textStatus {
  font-weight: 100;
  font-size: large;
  margin: 0;
}

.collaboratorContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.collaboratorImageContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

#avatarCollaborator {
  margin: 0;
  height: 35px;
  width: 35px;
}

#avatar {
  margin: 0;
  height: 65px;
  width: 65px;
}

.buttonCollaborator {
  margin: 0;

  font-size: large;
  font-weight: 300;

  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.buttonMargin {
  margin-top: 35px;
}

.taskList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 47.5px;
}

.link {
  text-decoration: none;
}

.userCard {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nameMenu {
  position: absolute;
  background-color: #171717;
  top: 60px;
  border-radius: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  transform: translateX(-33%);
  text-align: center;
}

.textCollaboratorName {
  margin: 0;
}

.textCollaboratorRole {
  margin: 0;
  font-size: small;
  font-weight: 300;
}
