.container {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 10px;

  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;

  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

#textName {
  margin: 0;
  font-size: x-large;
}

#textStatus {
  font-weight: 100;
  font-size: large;
  margin: 0;
}

.collaboratorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.collaboratorImageContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

#avatarCollaborator {
  margin: 0;
  height: 35px;
  width: 35px;
}

#avatar {
  margin: 0;
  height: 65px;
  width: 65px;
}

#textCollaborator {
  margin: 0;
  text-align: end;
  font-size: large;
  font-weight: 300;
}

.projectList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.userCard {
  display: flex;
  align-items: center;
  gap: 10px;
}
